.contact {
    background-color: rgba(220, 120, 11, 0.1);
}

.contact .container {
    padding: 100px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact__text {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 20%;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: rgba(220, 120, 11, 1);
}

.contact__title {
    padding: 5px 0px 40px;
    font-family: Philosopher;
    font-weight: 700;
    font-size: 31.25px;
    line-height: 40.6px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: rgba(21, 12, 1, 1);
}

.contact__form {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    background-color: white;
    width: 700px;
    height: 60px;
}

.contact__input {
    padding: 0px 20px;
    border-radius: 10px;
    width: 80%;
    outline: none;
    border: none;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 40.6px;
    letter-spacing: 0%;
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.5);
}

.contact__btn {
    width: 20%;
    background-color: rgba(220, 120, 11, 1);
    border: none;
    border-radius: 10px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 40.6px;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: white;
}
.contact__btn:hover{
    background-color: #fff;
    color: rgba(220, 120, 11, 1);
    border: 2px solid rgba(220, 120, 11, 1);
}