.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px;
}
.header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgb(255, 255, 255); 
    box-shadow: 0px 0px  15px rgb(208, 208, 208);
  }
.header__list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header__link {
    font-family: Roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #150C01;
    opacity: 60%;
}

.header__link:hover {
    color: #DC780B;
}

.header__button {
    width: 135px;
    height: 45px;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid #DC780B;
    background-color: #DC780B;
    color: white;
    font-family: Roboto;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
}

.header__button:hover {
    background-color: #fff;
    color: #DC780B;
    border: 2px solid #DC780B;
}

.bars {
    display: none;
}

.bar {
    width: 30px;
    height: 3px;
    margin: 5px;
    background-color: black;
}

.header__box {
    display: flex;
    gap: 40px;
}


@media(max-width:1140px) {
    .header .container {
        padding: 20px 20px;
        max-width: 1024px;
    }
}


@media (max-width:1024px) {
    .header .container {
        max-width: 768px;
    }
}

@media (max-width:768px) {
    .header .container {
        max-width: 425px;
    }

    .header__list {
        display: none;
        font-weight: 900;
        font-size: 20px;
    }

    .bars {
        display: block;
    }

    .header__list-mobile {
        display: none;
        flex-direction: column;
        gap: 20px;
        background-color:rgb(93, 84, 75);
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        padding: 40px 20px;
        z-index: 999;
        align-items: center;
        justify-content: center;
    }
    .header__link{
        color: white;
    }
    .close-btn {
        position: fixed;
        top: 20px;
        right: 30px;
        font-size: 36px;
        background: none;
        border: none;
        color: white;
        cursor: pointer;
        z-index: 1001;
      }

    .header__list-mobile.active {
        display: flex;
    }
}

@media (max-width:425px) {
    .header .container {
        padding: 0px 10px;
        max-width: 375px;
    }
}

@media (max-width:375px) {
    .header .container {
        padding: 0px 10px;
        max-width: 320px;
    }
}